@font-face {
  font-family: AliRegular;
  src: url("/fonts/AlibabaPuHuiTi-2-55-Regular.ttf");
}

body {
  font-family: 'AliRegular' !important;
}

#app {
  width: 100%;
  height: 100%;
}
.image-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
