.filed-container {
    .filed-item {
        padding: 0 10px;
    }

    .filed-item-title {
        font-size: 14px;
        margin: 10px 0;
        color: #333333;
        font-weight: 600;
    }

    .filed-item-children {
        display: grid;
        gap: 14px 16px;
        grid-template-columns: repeat(2, 1fr);

        .filed-item-card {
            grid-column: span 1 / auto;

            .filed-item-card-icon {
                background-color: #F6F6F6;
                height: 54px;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: grab;

                &[draggable="true"] {
                    cursor: grabbing;
                }

                &:hover {
                    box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;
                }
            }

            .filed-item-card-text {
                text-align: center;
                color: #333333;
                width: 76px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}