.canvas-box {
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: #F6F6F6;

    .container {
        height: 100%;
        background-color: #fff;
        border-radius: 8px;

        .subject {
            height: 100%;
            overflow-y: auto;
            padding: 12px 0;

            .ant-form {
                height: calc(100% - 24px);
            }
        }
    }
}